Source: libv8-7.3
Priority: optional
Maintainer: Stefan Siegl <stesie@brokenpipe.de>
Build-Depends: cdbs,
 autotools-dev,
 devscripts,
 debhelper,
 dh-buildinfo,
 git,
 libglib2.0-dev,
 python,
 libatspi2.0-dev,
 pkg-config
Standards-Version: 3.9.8
Section: libs
Homepage: https://developers.google.com/v8/
Vcs-Browser: https://github.com/phpv8/ppa-packaging
Vcs-Git: https://github.com/phpv8/ppa-packaging.git

Package: libv8-7.3
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: V8 JavaScript engine - runtime library
 V8 is a high performance JavaScript engine written in C++.
 It is used in the web browser Chromium.
 .
 This package provides the dynamic library for V8.

Package: libv8-7.3-dev
Section: libdevel
Architecture: amd64
Depends: libv8-7.3 (= ${binary:Version}), ${misc:Depends}
Description: V8 JavaScript engine - development files for 7.3 branch
 V8 is a high performance JavaScript engine written in C++.
 It is used in the web browser Chromium.
 .
 This package provide development headers for V8 7.3 branch.

Package: libv8-7.3-dbg
Priority: extra
Section: debug
Architecture: amd64
Depends: libv8-7.3 (= ${binary:Version}), ${misc:Depends}
Description: V8 JavaScript engine - debugging symbols
 V8 is a high performance JavaScript engine written in C++.
 It is used in the web browser Chromium.
 .
 This package provides the debugging symbols for the library.
